*{
    margin: 0;
    padding: 0;
}

p{
    /* display: inline;
    display: block; */
    display: inline-block;
    height: 200px;
    width: 200px;
}

.redColor{
    background-color: red;
}

.greenColor{
    background-color: green;
}

.blueColor{
    background-color: blue;
}