<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(locals.numberOfLetters){ %>
        <h1>U have <%= numberOfLetters %> letters in ur name</h1>
        <% } else { %>
            <h1>Write your Name Below</h1>
            <% } %>

                <form action="/submit" method="post">
                    <input type="text" name="fName" id="" placeholder="FirstName">
                    <input type="text" name="lName" id="" placeholder="LastName">
                    <input type="submit" value="submit">
                </form>
</body>

</html>