<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a class="text-muted">
                        <strong>Manish Joshi</strong>
                    </a>
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="mailto:manish.adcs073@gmail.com" class="text-muted"><i class="bi bi-envelope-at fs-4"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/manish_k_joshi_?igsh=eGdxMG5qYXhjYWZ0" class="text-muted"><i class="bi bi-instagram fs-4"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://x.com/ManishJ77338602?t=fz_4rKkxuRx_mIj-cOttUA&s=09" class="text-muted"><i class="bi bi-twitter-x fs-4"></i></a>
                    </li>
                    <!-- <li class="list-inline-item">
                        <a href="#" class="text-muted">Booking</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>