<div class="container-fluid">
    <div class="row justify-content-start ">
        <div class=" col-lg-8 col-md-10 col-sm-12">
            <h3 class="mb-3">Product add</h3>
            <form action="/addP" method="post" class="d-flex gap-3">
                <input type="hidden" name="userId" value="<%=tUser._id%>">
                <div class="col-3">
                    <label for="pName" class="form-label">Title</label>
                    <input type="text" name="pName" class="form-control mb-3" required>
                </div>
                
                <div class="col-3">
                    <label for="pQuantity" class="form-label">Quantity</label>
                    <input type="number" name="pQuantity" class="form-control mb-3" min="1" required>
                </div>
                    
                <div class="col-3">
                    <label for="price" class="form-label">price</label>
                    <input type="number" name="price" class="form-control mb-3" min="1" required>
                </div>
                
                
                <div class="col-3 mt-4">
                <button type="submit" class="btn btn-primary" >Add</button>
            </div>

            </form>
        </div>
    </div>
</div>
